{% extends "base/base_simplificada.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6 text-center">
            <img src="{{ url_for('static', filename='embrapa_logo.png') }}" alt="Embrapa" class="mb-4" style="max-width: 300px;">
            <h1 class="mb-4">Sistema de Almoxarifado</h1>
            <div class="d-grid gap-3">
                <a href="{{ url_for('main.login') }}" class="btn btn-primary btn-lg">Acessar o Sistema</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 